---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Get in Touch</h1>
			<p>We're here to help! You can reach us using any of the methods below.</p>
			<ul class="contact-list">
				<li>
					<strong>Email:</strong> <a href="mailto:info@new-leaf-academy.co.uk">info@new-leaf-academy.co.uk</a>
				</li>
				<li>
					<strong>Phone:</strong> <a href="tel:07599511507">07599511507</a>
				</li>
				<li>
					<strong>WhatsApp:</strong> <a href="https://wa.me/07599511507" target="_blank">Chat with us on WhatsApp</a>
				</li>
				<li>
					<strong>Facebook:</strong> <a href="https://www.facebook.com/newleafacademyuk" target="_blank">Message us on Facebook</a>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>

<style>
	ul.contact-list {
		list-style: none;
		padding: 0;
		max-width: 600px;
		margin: 2rem auto;
	}

	ul.contact-list li {
		margin-bottom: 1rem;
		font-size: 1.1rem;
	}

	ul.contact-list strong {
		display: inline-block;
		width: 100px;
	}
	main {
		color: #2c4fb9;
	}
	h1 {
		color: #2c4fb9;
	}
</style>