---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2>
			<a href="/">
				<img src="/logo.png" alt="New Leaf Academy Logo" class="logo" />
				{SITE_TITLE}
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/contact">Contact Us</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
            <a href="https://www.facebook.com/newleafacademyuk" target="_blank" aria-label="Facebook">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
			</a>
            <a href="https://wa.me/07599511507" target="_blank" aria-label="WhatsApp">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-whatsapp"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap; /* Allow items to wrap on smaller screens */
	}
    h2 {
        margin: 0;
        font-size: 2em;
    }
    h2 a, h2 a.active {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #2c4fb9; /* New: Sets the logo text to dark blue */
    }
    nav a {
        padding: 1em 0.5em;
        color: #2c4fb9; /* New: Sets the navigation links to dark blue */
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    img.logo {
        height: 1em;
        margin-right: 0.5em;
    }
    .internal-links {
        display: flex;
        align-items: center;
    }
    .social-links {
        display: flex;
        align-items: center;
        margin-left: auto; /* Push to the right on small screens */
    }
    @media (max-width: 720px) {
        nav {
            flex-direction: column; /* Stack items on top of each other */
            align-items: flex-start;
        }
        .internal-links {
            width: 100%;
            justify-content: center; /* Center the links */
        }
        .social-links {
            width: 100%;
            justify-content: center; /* Center the social links */
            margin-top: 1em;
            margin-left: 0;
        }
    }
</style>